body {
    height: 100vh;
    background-image: url(https://www.carid.com/images/inspiration/audi/s7/25/1.jpg);
    background-size: 100%;
}

.choice {
    background-color: black;
    border: 1px solid silver;
    cursor: pointer;
}

.choice:hover {
    background-color: darkred;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
}

.Timer {
    text-align: left;
}

.Gameplay {
    text-align: left;
}